<a href="https://colab.research.google.com/github/DuillesAD/Challenge_data_sciencie_1/blob/main/AluraStoreBr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importação dos dados

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja2.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Cadeira de escritório,moveis,378.20,20.421138,04/08/2021,Thiago Silva,MG,1,boleto,1,-18.10,-44.38
1,Pandeiro,instrumentos musicais,102.37,3.035334,26/11/2020,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66
2,Cama king,moveis,591.13,31.759020,22/10/2021,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95
3,Cama king,moveis,1208.24,61.919584,04/05/2022,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50
4,Cadeira de escritório,moveis,530.41,25.827176,26/02/2022,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79

#1. Análise do faturamento

In [3]:
vendas_loja1 = loja["Preço"].sum()
quantidade_produto_vendido_loja1 = loja["Produto"].count()
ticket_medio_loja1 = vendas_loja1 / quantidade_produto_vendido_loja1
print(f"Na loja 1 foram vendios {quantidade_produto_vendido_loja1} produtos com um total de faturamento de R$ {vendas_loja1}. O ticket médio foi de R$ {ticket_medio_loja1:.2f}")

vendas_loja2 = loja2["Preço"].sum()
quantidade_produto_vendido_loja2 = loja2["Produto"].count()
ticket_medio_loja2 = vendas_loja2 / quantidade_produto_vendido_loja2
print(f"Na loja 2 foram vendios {quantidade_produto_vendido_loja2} produtos com um total de faturamento de R$ {vendas_loja2}. O ticket médio foi de R$ {ticket_medio_loja2:.2f}")

vendas_loja3 = loja3["Preço"].sum()
quantidade_produto_vendido_loja3 = loja3["Produto"].count()
ticket_medio_loja3 = vendas_loja3 / quantidade_produto_vendido_loja3
print(f"Na loja 3 foram vendios {quantidade_produto_vendido_loja3} produtos com um total de faturamento de R$ {vendas_loja3}. O ticket médio foi de R$ {ticket_medio_loja3:.2f}")

vendas_loja4 = loja4["Preço"].sum()
quantidade_produto_vendido_loja4 = loja4["Produto"].count()
ticket_medio_loja4 = vendas_loja4 / quantidade_produto_vendido_loja4
print(f"Na loja 4 foram vendios {quantidade_produto_vendido_loja4} produtos com um total de faturamento de R$ {vendas_loja4}. O ticket médio foi de R$ {ticket_medio_loja4:.2f}")

total_faturamento = sum([vendas_loja1, vendas_loja2, vendas_loja3, vendas_loja4])
print(f"O faturamento total foi de R$ {total_faturamento:.2f}")

Na loja 1 foram vendios 2359 produtos com um total de faturamento de R$ 1534509.12. O ticket médio foi de R$ 650.49
Na loja 2 foram vendios 2359 produtos com um total de faturamento de R$ 1488459.06. O ticket médio foi de R$ 630.97
Na loja 3 foram vendios 2359 produtos com um total de faturamento de R$ 1464025.03. O ticket médio foi de R$ 620.61
Na loja 4 foram vendios 2358 produtos com um total de faturamento de R$ 1384497.58. O ticket médio foi de R$ 587.15
O faturamento total foi de R$ 5871490.79

# 2. Vendas por Categoria

In [12]:
def vendas_por_categoria(loja, numero):
  vendas = loja.groupby("Categoria do Produto")["Preço"].sum()
  print(f"Na loja {numero} Vendas por categoria na loja")
  print(vendas)

vendas_por_categoria(loja, 1)
vendas_por_categoria(loja2, 2)
vendas_por_categoria(loja3, 3)
vendas_por_categoria(loja4, 4)

Na loja 1 Vendas por categoria na loja
Categoria do Produto
brinquedos                23993.78
eletrodomesticos         484913.36
eletronicos              572659.23
esporte e lazer           52387.55
instrumentos musicais    121731.69
livros                    11713.92
moveis                   250178.11
utilidades domesticas     16931.48
Name: Preço, dtype: float64
Na loja 2 Vendas por categoria na loja
Categoria do Produto
brinquedos                21262.21
eletrodomesticos         464758.13
eletronicos              547773.71
esporte e lazer           46326.09
instrumentos musicais    139987.03
livros                    13454.35
moveis                   235234.68
utilidades domesticas     19662.86
Name: Preço, dtype: float64
Na loja 3 Vendas por categoria na loja
Categoria do Produto
brinquedos                25869.20
eletrodomesticos         438984.89
eletronicos              547699.92
esporte e lazer           47456.10
instrumentos musicais    103174.45
livros                    12664.70
moveis                   268095.56
utilidades domesticas     20080.21
Name: Preço, dtype: float64
Na loja 4 Vendas por categoria na loja
Categoria do Produto
brinquedos                27015.67
eletrodomesticos         377680.65
eletronicos              545966.86
esporte e lazer           44465.65
instrumentos musicais    100136.50
livros                    12427.77
moveis                   256705.65
utilidades domesticas     20098.83
Name: Preço, dtype: float64

# 3. Média de Avaliação das Lojas

In [14]:
def media_avaliação(loja, numero):
  media = loja["Avaliação da compra"].mean()
  print(f"Na loja {numero} a média de avaliação foi de {media:.2f}")

media_avaliação(loja, 1)
media_avaliação(loja2, 2)
media_avaliação(loja3, 3)
media_avaliação(loja4, 4)

Na loja 1 a média de avaliação foi de 3.98
Na loja 2 a média de avaliação foi de 4.04
Na loja 3 a média de avaliação foi de 4.05
Na loja 4 a média de avaliação foi de 4.00

# 4. Produtos Mais e Menos Vendidos

In [25]:
def prondutos_mais_menos_vendidos(loja, nome_da_loja, numero=5):
  mais_vendidos = loja.groupby("Produto")["Preço"].sum().sort_values(ascending=False)
  menos_vendidos = loja.groupby("Produto")["Preço"].sum().sort_values(ascending=True)

  print(f"Na loja {nome_da_loja} os 5 produtos mais vendidos foram")
  print(mais_vendidos.head(numero))
  print(f"Na loja {nome_da_loja} os 5 produtos menos vendidos foram")
  print(menos_vendidos.head(numero))

prondutos_mais_menos_vendidos(loja, "Loja 1", 5)
prondutos_mais_menos_vendidos(loja2, "Loja 2", 5)
prondutos_mais_menos_vendidos(loja3, "Loja 3", 5)
prondutos_mais_menos_vendidos(loja4, "Loja 4", 5)

Na loja Loja 1 os 5 produtos mais vendidos foram
Produto
TV Led UHD 4K         189534.28
Geladeira             149524.28
Celular Plus X42      130536.40
Smart TV               89936.15
Lavadora de roupas     87711.30
Name: Preço, dtype: float64
Na loja Loja 1 os 5 produtos menos vendidos foram
Produto
Corda de pular        870.89
Dinossauro Rex        918.40
Cubo mágico 8x8       929.27
Jogo de copos        1812.15
Xadrez de madeira    1907.42
Name: Preço, dtype: float64
Na loja Loja 2 os 5 produtos mais vendidos foram
Produto
Celular Plus X42      150967.83
TV Led UHD 4K         137833.06
Geladeira             130176.48
Lavadora de roupas     89016.81
Smart TV               81522.94
Name: Preço, dtype: float64
Na loja Loja 2 os 5 produtos menos vendidos foram
Produto
Cubo mágico 8x8       858.22
Dinossauro Rex       1027.41
Corda de pular       1142.54
Xadrez de madeira    1717.05
Jogo de copos        2056.69
Name: Preço, dtype: float64
Na loja Loja 3 os 5 produtos mais vendidos foram
Produto
Geladeira           133185.99
TV Led UHD 4K       128892.11
Celular Plus X42    124300.84
Smart TV            105116.46
Lava louças          85819.73
Name: Preço, dtype: float64
Na loja Loja 3 os 5 produtos menos vendidos foram
Produto
Cubo mágico 8x8      853.81
Dinossauro Rex      1060.78
Corda de pular      1137.76
Jogo de copos       1614.20
Blocos de montar    1649.81
Name: Preço, dtype: float64
Na loja Loja 4 os 5 produtos mais vendidos foram
Produto
Celular Plus X42    128930.07
TV Led UHD 4K       120393.25
Smart TV            110387.57
Geladeira           100362.59
Tablet ABXY          75630.75
Name: Preço, dtype: float64
Na loja Loja 4 os 5 produtos menos vendidos foram
Produto
Corda de pular        939.74
Cubo mágico 8x8       997.38
Dinossauro Rex       1143.94
Xadrez de madeira    1434.09
Jogo de copos        1962.24
Name: Preço, dtype: float64

NameError: name 'head' is not defined

# 5. Frete Médio por Loja